@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientAnimation 5s infinite;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin-slow-reverse {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}